* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    background:#fff;
    font-size: 14px;
    margin: 0;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding:0;
}
.logo{
    width:50%; 
    float: left; 
    padding-left: 20px;
    font-size: 20px;
}
nav{
     width:50%; 
     float: left;
     text-align: right; 
     padding-right:20px;
     color: #fff;
    
}
ul{
  list-style: none;
  color: #616060;   
}
.list-menu{
    padding: 9px;  
}
.list-main{
    text-align: left;
}
aside{
    width:230px;
    background: #f5f6fa;  
    height: 100%;
    float: left;
    padding-left: 25px;
    padding-top: 30px;
}
aside a{
    text-decoration: none;
    color: #000;
    font-size: 15px; 
    font-weight: bold;
}
.section{
    background: #d0ecee;    
    color: #000;
    height: 100%;
    font-size: 20px;
    width: calc(100% - 230px);
    float: left;
    padding: 40px;
    background: #d0ecee;
  /* position: relative;
    -webkit-animation: mymove 5s infinite;  */
    /* Safari 4.0 - 8.0 */
  /* animation: mymove 5s infinite; */
}
/* Safari 4.0 - 8.0 */
/* @-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
  }
  
  @keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
  } */
  .section h1{
      /* background: red; */
      text-align: center;
      position: relative;
     top: 220px;
  }
header{
    background-color: #000;
    padding:5px;
    height: 50px;
    overflow: hidden;
    line-height: 40px;
}
header h1{
    color: #3498db;
    font-size: 20px;
}
.cs{
    color:#d0ecee;
    font-size:12px;
    font-weight: lighter;
}
header a{
  text-decoration: none;
  color: #cac9c9;
  /* font-weight: bold; */
  font-size: 15px;
  margin: 10px
}
header a:hover{
    color:#e1b12c; 

}
#left{
text-align: left;
}
.main-content{
    height: 100vh;
    background: #d0ecee;
}
footer{
    background: #000;
} 
